build/
example/
.vscode/
test.json
test.ui
output/fmtd.dll
output/logs/
test.md
output/libcrypto-3-x64.dll
output/libssl-3-x64.dll
output/fmt.dll
cmake-build-debug/
cmake-build-release/
.idea/
test.cpp
output/config/Agents.json.bak
output/config/LLMs.json.bak
output/config/MCPServers.json.bak
sqlite.sql
xlc_assistant.db
output/XLCAssistant.exe
output/XLCAssistant.ilk
output/XLCAssistant.pdb
output/config/LLMs.json
